@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap");
:root {
  --height: 0vh;
  --width: 0vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 2px;
}

.btn {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background: none;
  border: none;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.modal {
  position: fixed;
  overflow: hidden;
  height: var(--height);
  top: 0%;
  background: #313131;
  -webkit-transition: .7s linear;
  transition: .7s linear;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1400px) and (max-width: 3000px) {
  .modal {
    height: 100vh;
    width: var(--width);
    left: 0%;
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  .modal {
    height: 100vh;
    width: var(--width);
    left: 0%;
  }
}

@media (min-width: 568px) and (max-width: 823px) {
  .modal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.modal form {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Raleway", sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-weight: bold;
  width: 40%;
}

.modal form input {
  padding: .5em;
  margin: .5em 0 .5em 0;
  background: grey;
  border: none;
}

.modal form input:focus {
  outline: none;
  border: 2px solid white;
  background: #505050;
}

.modal form button {
  color: white;
  font-family: "Raleway", sans-serif;
  padding: .5em;
  border: 2px solid white;
  font-weight: bold;
}

.modal form button:hover, .modal form button :focus {
  background: white;
  color: black;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 17vh 17vh 17vh;
      grid-template-rows: 17vh 17vh 17vh;
  margin: 3em 1em;
  border: 2px solid white;
  background: white;
  -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 568px) and (max-width: 823px) {
  .images {
    width: 50%;
    -ms-grid-rows: 20vh 20vh 20vh;
        grid-template-rows: 20vh 20vh 20vh;
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  .images {
    -ms-grid-rows: 14vh 14vh 14vh;
        grid-template-rows: 14vh 14vh 14vh;
  }
}

@media (max-width: 768px) and (min-height: 1024px) {
  .images {
    width: 80%;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .images {
    -ms-grid-rows: 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh 10vh;
  }
}

.images img {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.btn-close {
  color: red;
  font-size: 2em;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: .5em;
  position: absolute;
  top: 0%;
  right: 0%;
}

@media (min-width: 1000px) {
  .btn-close {
    font-size: 4em;
  }
}

.btn-close:hover, .btn-close :focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: blue;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .btn-background {
  position: relative;
  font-size: 1.2em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  overflow: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .btn-background::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(90deg, transparent, #fff, transparent);
  height: 100%;
  width: 100%;
  right: 100%;
  top: 0%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

body .btn-background:hover, body .btn-background :focus {
  background: #0d0080;
}

body .btn-background:hover::before, body .btn-background :focus::before {
  right: -100%;
}

.active {
  opacity: .5;
}
/*# sourceMappingURL=index.css.map */