@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap');

:root{
     --height: 0vh;
}

$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Cormorant Garamond', serif; 


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     letter-spacing: 2px;
}

.btn{
     transition: .3s linear;
     background: none;
     border: none;
     font-family: $ff-primary;
     cursor: pointer;
}

.modal{
     position: fixed;
     overflow: hidden;
     height: var(--height);
     top: 0%;
     background: rgb(49, 49, 49);
     transition: .7s linear;
     width: 100%;
     display: flex;
     flex-direction: column;
}

.images{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-gap: 5px;
     padding: 1em;

     img{
          width: 100%;
          height: 100%;
     }
}

.btn-close{
     color: red;
     font-size: 2em;
     font-weight: bold;
     align-self: flex-end;
     padding: 1em;

     &:hover, :focus{
          transform: rotate(360deg);
     }
}


body{
     background: center / cover no-repeat url(/Static/images/Phone.jpg);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

     .btn-background{
          position: relative;
          font-size: 1.2em;
          padding: 1em;
          background: rgba(0, 0, 0, .5);
          color: white;
          font-weight: bold;
          border: 2px solid black;
          overflow: hidden;
          transition: .3s linear;

          &::before{
               content: '';
               position: absolute;
               background: linear-gradient(90deg, transparent, #fff, transparent);
               height: 100%;
               width: 100%;
               right: 100%;
               top: 0%;
               transition: .3s linear;
          }

          &:hover, :focus{
               background: rgb(13, 0, 128);
          }

          &:hover::before, :focus::before{
               right: -100%;
          }
     }
}

