@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap');

:root{
     --height: 0vh;
     --width: 0vw;
}


$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Cormorant Garamond', serif; 

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     letter-spacing: 2px;
}

@mixin mobileSide {
     @media (min-width: 568px) and (max-width: 823px){
          @content;
     }
}

@mixin desktopBig{
     @media (min-width: 1400px) and (max-width: 3000px){
          @content;
     }
}

@mixin desktopSmall{
     @media (min-width: 1000px) and (max-width: 1399px){
          @content;
     }
}

@mixin IpadSmall {
     @media (max-width: 768px) and (min-height: 1024px){
          @content;
     }
}

@mixin IpadPro {
     @media (max-width: 1024px) and (min-height: 1366px){
          @content;
     }
}

.btn{
     transition: .3s linear;
     background: none;
     border: none;
     font-family: $ff-primary;
     cursor: pointer;

     &:focus{
          outline: none;
     }

     
}

.modal{
     position: fixed;
     overflow: hidden;
     height: var(--height);
     top: 0%;
     background: rgb(49, 49, 49);
     transition: .7s linear;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;

     @include desktopBig{
          height: 100vh;
          width: var(--width);
          left: 0%;
     }

     @include desktopSmall{
          height: 100vh;
          width: var(--width);
          left: 0%;
     }

     @include mobileSide{
          flex-direction: row;
     }

     form{
          margin: 1em;
          display: flex;
          flex-direction: column;
          color: white;
          font-family: $ff-primary;
          width: max-content;
          align-self: center;
          text-align: center;
          font-weight: bold;
          width: 40%;

          @include desktopBig{
               font-size: 1.25rem;
          }

          input{
               padding: .5em;
               margin: .5em 0 .5em 0;
               background: rgb(109, 109, 109);
               border: none;
               color: white;

               &:focus{
                    outline: none;
                    border: 2px solid white;
                    background: rgb(80, 80, 80);
               }
          }

          button{
               color: white;
               font-family: $ff-primary;
               padding: .5em;
               border: 2px solid white;
               font-weight: bold;

               &:hover, :focus{
                    background: white;
                    color: black;
               }

               @include desktopBig{
                    font-size: 1.25rem;
               }
               
          }
     }
     

     
}

.images{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 17vh 17vh 17vh;
     margin: 3em 1em;
     border: 2px solid white;
     background: white;
     align-self: center;

     @include mobileSide{
          width: 50%;
          grid-template-rows: 20vh 20vh 20vh;
     }

     @include desktopSmall{
          grid-template-rows: 14vh 14vh 14vh;
     }

     @include IpadSmall{
          width: 80%;
     }

     @include IpadPro{
          grid-template-rows: 10vh 10vh 10vh;
     }

     img{
          border: 2px solid white;
          width: 100%;
          height: 100%;
          transition: .3s linear;
          cursor: pointer;
     }
}

.btn-close{
     color: red;
     font-size: 2em;
     font-weight: bold;
     align-self: flex-end;
     padding: .5em;
     position: absolute;
     top: 0%;
     right: 0%;

     @media (min-width: 1000px) {
          font-size: 4em;
     }

     &:hover, :focus{
          transform: rotate(360deg);
          color: blue;
     }
}


body{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

     .btn-background{
          position: relative;
          font-size: 1.2em;
          padding: 1em;
          background: rgba(0, 0, 0, .7);
          color: white;
          font-weight: bold;
          border: 2px solid black;
          overflow: hidden;
          transition: .3s linear;

          @include desktopBig{
               font-size: 2em;
          }

          &::before{
               content: '';
               position: absolute;
               background: linear-gradient(90deg, transparent, #fff, transparent);
               height: 100%;
               width: 100%;
               right: 100%;
               top: 0%;
               transition: .3s linear;
          }

          &:hover, :focus{
               background: rgb(13, 0, 128);
          }

          &:hover::before, :focus::before{
               right: -100%;
          }
     }
}

.active{
     opacity: .4;
}